
// maxWidth-максимальная гирина контейнера по макету, так же используется в мексине для Font-Size
$maxWidth: 900;

$loadingColor: #ff6a00;
$succesColor: #39d353;
$errorColor: #FF0033;

$bgColor1: #111111;

$mainTxtColor: #c9d1d9;

$titleTxtColor: #f0f6fc;

$mainAccentColor: rgb(0, 253, 139);

$linkTxtColor: #2d9cdb;






