
// maxWidth-максимальная гирина контейнера по макету, так же используется в мексине для Font-Size
$maxWidth: 900;

$loadingColor: #ff6a00;
$succesColor: #39d353;
$errorColor: #FF0033;

$bgColor1: #111111;

$mainTxtColor: #c9d1d9;

$titleTxtColor: #f0f6fc;

$mainAccentColor: rgba(66, 185, 131, 1);

$linkTxtColor: #2d9cdb;






